.containerImage{

    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
   
}

.containerVideo{

    position: relative;
    width: 100%;
}

.video{

    position: relative;
    object-fit: fill;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
}

.buyNowButtonContainer{
   
    top: -150px;
    position: relative;
    
   
}

.buttonBuyNow{

    margin-left: 30px;
}


.divCart{

   
    left: 80%;
    width: 80px;
    border-radius: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    cursor: pointer;
   
}


.logoCart{

   font-size: 32px;
}


.product_reviews{
    
    width: fit-content;
    background-color: black;
    margin: 10px 10px 0px 0px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
    font-family: cursive;
}